#mainFrame {
    background-image: url("../images/Pong.gif");
    background-size: 100%;
}
button.dropdown-item:hover, li.dropdown-item:hover {
    background-color: rgb(141, 141, 190);
}
.ld-sm {
    width: 5%;
}
.ld-md {
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}
.ld-lg {
    width: 45%;
}

.noScrollBar {
	overflow: auto;
	scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}