{% load static %}

{% block chat %}
                    <div id="about" class="customWindow d-none">
                        <h2 class="text-center">About this project</h2>
                        <hr class="mx-5">
                        <p class="mx-5 text-center">
                            This is ft_transcendence, the final project of 19's common core.
                        </p>
                        <p class="mx-5 text-center">
                            The goal is to make a Single Page Application (SPA) designed to let players confront each other in Pong !
                        </p>
                        <p class="mx-5 text-center mb-4">
                            Some modules were added to that basis :
                        </p>
                        <ul class="aboutList text-center p-0">
                            <li class="mb-2"><i>Bootstrap was used to make the frontend</i></li>
                            <li class="mb-2"><i>Django was used to make the backend</i></li>
                            <li class="mb-2"><i>The game is handled by the server (API)</i></li>
                            <li class="mb-2"><i>The website is linked to a database, so we don't lose anything when we shut it down</i></li>
                            <li class="mb-2"><i>Another game is available (Surprise!)</i></li>
                            <li class="mb-2"><i>The chat</i></li>
                            <li class="mb-2"><i>You may play against a remote player, you don't HAVE to share a keyboard</i></li>
                            <li class="mb-2"><i>You may play in the terminal. Less pretty but still fun</i></li>
                        </ul>
                        <hr class="mx-5">
                        <h3 class="mx-5 text-center mb-4">
                            The team is composed of :
                        </h3>
                        <ul class="aboutList text-center p-0">
                            <li class="mb-2">Karim Talbi</li>
                            <li class="mb-2">Cyril Collard</li>
                            <li class="mb-2">Nicolas Espana Ribera</li>
                            <li class="mb-2">Gilles Poncelet</li>
                        </ul>
                    </div>
{% endblock %}

