{% load static %}

{% block chat %}
                    <div id="leaderboard" class="customWindow d-none">
                        <p class="d-flex mb-0 justify-content-center text-danger-emphasis text-decoration-underline fw-bold fs-1" style="min-height: 10%;">
                            Leaderboard
                        </p>
                        <span class="ms-2">Tip : Click on an avatar to see the player's profile</span>
                        <ul class="list-group mt-2">
                            <li id="leaderhead" class="list-group-item w-100 d-flex p-1 pt-2">
                                <span class="ld-sm d-flex justify-content-center"><i>#</i></span>
                                <span class="ld-md">Avatar</span>
                                <span class="ld-lg">Name</span>
                                <span class="d-flex justify-content-center ld-md ld-matches">Matches</span>
                                <span class="d-flex justify-content-center ld-md ld-wins">Wins</span>
                                <span class="d-flex justify-content-center ld-md ld-loses">Loses</span>
                                <span class="d-flex justify-content-center ld-md ">Level</span>
                            </li>
                        </ul>
                        <div id="leaderListContainer" class="overflow-auto noScrollBar" style="max-height: 70%;">
                            <ul id="leaderList" class="list-group">
                            </ul>
                        </div>
                    </div>
{% endblock %}
