{% load static %}

{% block navbar %}
        <div id="header" class="w-100 d-flex bg-warning ps-2" style="height: 50px;">
            <button type="button" class="nav-link" data-bs-toggle="dropdown">
          <img id="burger-menu" src="{% static 'home/images/list.svg' %}" alt="" class="d-none pb-1">
          <img id="avatar-small" src="{% static 'home/images/base_profile_picture.png' %}" alt="" class="avatar rounded-circle" style="width: 35px;height: 35px;">
            </button>
            <div id="header-large" class="d-flex flex-grow-1 flex-row-reverse justify-content-between gap-3 pe-2">
                <button class="linkToWindow nav-link">
            <img src="{% static 'home/images/house.svg' %}" alt="" id="homeButton">
                </button>
                <nav id="menu-large" class="nav flex-grow-1 gap-2">
                    <button class="linkToWindow header-btn-large d-none nav-link alert-link d-flex align-items-center">
              <img src="{% static 'home/images/lightning.svg' %}" alt="">
                        <div class="ms-1">Play</div>
                    </button>
                    <button class="linkToWindow header-btn-large nav-link mx-5 alert-link d-flex align-items-center">
              <img src="{% static 'home/images/trophy.svg' %}" alt="">
                        <div class="ms-1">Leaderboard</div>
                    </button>
                    <button class="linkToWindow header-btn-large nav-link alert-link d-flex align-items-center">
              <img src="{% static 'home/images/question-circle.svg' %}" alt="">
                        <div class="ms-1">About</div>
                    </button>
                </nav>
            </div>
            <ul id="menu" class="dropdown-menu bg-light">
                <li class="">
                    <button class="linkToWindow dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/box-arrow-in-right.svg' %}" alt="">
                        <div class="ms-2">Login</div>
                    </button>
                </li>
                <li class="loggedInButton d-none">
                    <button id="logoutButton" class="dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/box-arrow-right.svg' %}" alt="">
                        <div class="ms-2">Logout</div>
                    </button>
                </li>
                <li class="header-btn-sm d-none">
                    <button class="linkToWindow header-btn-sm dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/lightning.svg' %}" alt="">
                        <div class="ms-2">Play</div>
                    </button>
                </li>
                <li class="header-btn-sm d-none">
                    <button class="linkToWindow dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/trophy.svg' %}" alt="">
                        <div class="ms-2">Leaderboard</div>
                    </button>
                </li>
                <li class="header-btn-sm d-none">
                    <button class="linkToWindow dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/question-circle.svg' %}" alt="">
                        <div class="ms-2">About</div>
                    </button>
                </li>
                <li class="loggedInButton d-none">
                    <button id="linkToMyProfile" class="dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/person-circle.svg' %}" alt="">
                        <div class="ms-2">Profile</div>
                    </button>
                </li>
                <li class="loggedInButton d-none">
                    <button class="linkToWindow dropdown-item d-flex align-items-center">
              <img src="{% static 'home/images/gear.svg' %}" alt="">
                        <div class="ms-2">Settings</div>
                    </button>
                </li>
            </ul>
        </div>     
{% endblock %}
