{% load static %}

{% block chat %}
                    <div id="profile" class="customWindow d-flex flex-column d-none">
                        <div id="profile-header" class="w-100 pt-1 px-1 d-flex gap-2 justify-content-between">
                            <div id="avatar-large" class="rounded-circle d-flex justify-content-center align-items-center position-relative" style="height: 125px;width: 125px;">
                                <img src="{% static 'home/images/base_profile_picture.png' %}" alt="" class="avatar rounded-circle" style="height: 100%;width: 100%;">
                                <span id="modifyAvatarButton" class="text-white fw-bold position-absolute d-none">Modify avatar</span>
                            </div>
                            <h2 id="playerName" class="d-flex align-items-center">
                                <span class="fs-1 fw-bold text-decoration-underline text-black"></span>
                                <form class="d-flex flex-column d-none" style="max-width: 40%;">
                                    <div class="form-text fs-5">Max 20 characters</div>
                                    <input type="text" name="modifyNameForm" class="fs-3" size="40" maxlength="20" value=""></textarea>
                                    <div class="d-flex flex-row gap-2">
                                        <button type="submit" class="btn btn-success my-1">Save changes</button>
                                        <button type="button" id="modifyNameCancel" class="btn btn-danger my-1">Cancel changes</button>
                                    </div>
                                </form>
                            </h2>
                            <div id="rankIcon" class="border-start border-bottom border-black p-3 rounded-circle" style="width: 125px;height: 125px;">
                                <img src="" alt="" class="rounded-circle" style="height: 100%;width: 100%;">
                            </div>
                        </div>
                        <div class="mw-100 flex-grow-1 d-flex flex-column p-2">
                            <p id="stats" class="d-flex justify-content-around text-uppercase fs-5 fw-bold"><span class="text-success">wins - <span id="totalWins"></span></span> <span class="text-primary">Matches played - <span id="totalMatches"></span></span><span class="text-danger">loses - <span id="totalLoses"></span></span></p>
                            <p id="friendListTitle" class="fs-4 text-decoration-underline fw-bold text-danger-emphasis">
                                Friend List
                                <button id="refreshFriendList" type="button" class="btn"><img src="{% static 'home/images/arrow-clockwise.svg' %}" alt="" class="mb-1 p-1 border border-black rounded"></button>
                            </p>
                            <div id="profile-body" class="d-flex mt-1 flex-grow-1">
                                <div id="friendList" style="min-height:300px;"></div>
                                <div id="profile-info" class="d-flex flex-column gap-3" style="max-width: 800px;">
                                    <div id="CPDiv" class="ps-3 d-flex flex-wrap">
                                        <span class="me-3 mt-1 text-decoration-underline fs-4 fw-bold text-danger-emphasis">Catchphrase</span>
                                        <button id="modifyCPButton" type="button" class="modifyProfileButton btn btn-secondary d-none">Modify</button>
                                        <span id="catchphrase" class="w-100 m-0 fs-4"></span>
                                        <form class="d-flex flex-column d-none">
                                            <div class="form-text">Max 80 characters</div>
                                            <input type="text" name="modifyCPForm" size="40" maxlength="80" value=""></textarea>
                                            <span><button type="submit" class="btn btn-success my-1">Save changes</button></span>
                                            <span><button type="button" id="modifyCPCancel" class="btn btn-danger">Cancel changes</button></span>
                                        </form>
                                    </div>
                                    <div id="bioDiv" class="d-flex flex-wrap ps-3">
                                        <span class="me-3 mt-1 text-decoration-underline fs-4 fw-bold text-danger-emphasis">Bio</span>
                                        <button id="modifyBioButton" type="button" class="modifyProfileButton btn btn-secondary d-none">Modify</button>
                                        <span id="bio" class="mt-1 flex-grow-1 fs-5 overflow-auto" style="max-height:200px"></span>
                                        <form class="d-flex flex-column d-none">
                                            <textarea name="modifyBioForm" cols="50" rows="5">Texte d'exemple</textarea>
                                            <span><button type="submit" class="btn btn-success my-1">Save changes</button></span>
                                            <span><button type="button" id="modifyBioCancel" class="btn btn-danger">Cancel changes</button></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
