{% load static %}

{% block chat %}
                    <div id="settings" class="customWindow customForm d-none">
                        <div class="w-50 p-2 border border-3 border-black rounded bg-secondary d-flex flex-column justify-content-center align-items-center overflow-auto text-dark">
                            <h2 class="text-center pt-2 fs-3 fw-bold">Settings</h2>
                            <label for="whatGame" class="form-label ps-2 pt-3">What game do you wish to play today ?</label>
                            <select name="whatGame" id="" class="form-select w-50">
                                <option value="1" selected>Pong</option>
                                <option value="2">Surprise !</option>
                            </select>
                            <span class="form-text">
                                This will affect the display on your profile page
                            </span>
                            <label for="whatGame" class="form-label ps-2 pt-3">What device will you use ?</label>
                            <select name="whatGame" id="" class="form-select w-50">
                                <option value="1" selected>Keyboard</option>
                                <option value="2">Mouse</option>
                                <option value="2">Touch-screen</option>
                            </select>
                            <div class="w-25 pt-4 d-flex justify-content-center gap-5">
                                <div class="form-check form-check-reverse">
                                  <input class="form-check-input" type="radio" name="connect" id="online" checked>
                                  <label class="form-check-label" for="online">Online</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="connect" id="offline">
                                  <label class="form-check-label ps-1" for="offline">Offline</label>
                                </div>
                            </div>
                            <div class="w-25 pt-4 d-flex justify-content-center gap-5">
                                <div class="form-check form-check-reverse">
                                  <input class="form-check-input" type="radio" name="tournament" id="casual" checked>
                                  <label class="form-check-label" for="casual">Casual</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="tournament" id="ranked">
                                  <label class="form-check-label" for="ranked">Ranked</label>
                                </div>
                            </div>
                            <div class="w-25 pt-4 d-flex justify-content-center gap-5">
                                <div class="form-check form-check-reverse">
                                  <input class="form-check-input" type="checkbox" name="challenger" id="challenger" checked>
                                  <label class="form-check-label" for="challenger">Challenger</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="challenged" id="challenged" checked>
                                  <label class="form-check-label" for="challenged">Challenged</label>
                                </div>
                            </div>
                            <div id="queue" class="d-flex flex-column align-items-center pt-4">
                                <div>
                                    <label for="queueLength" class="form-label">Queue length</label>
                                </div>
                                <div>
                                    <input type="text" id="queueLength" class="form-control" aria-describedby="passwordHelpInline">
                                </div>
                                <div>
                                    <span class="form-text">
                                        0 for no limit
                                    </span>
                                </div>
                            </div>
                            <div class="form-check py-3">
                                <input class="form-check-input" type="checkbox" value="" id="spectator">
                                <label class="form-check-label" for="spectator">
                                    Allow spectators ?
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
{% endblock %}
