.dropdown-item:hover {
    background-color: rgb(141, 141, 190);
}

.navButton:hover, .profileLink:hover {
    cursor: pointer;
}

.customWindow {
    background-color: #ced4da;
    overflow: auto;
    height: 75%;
    width: 75%;
    padding: 10px 20px;
}

ul {
    list-style: none;
}

.myProfile:hover {
    cursor: pointer;
    color: red;
}

#modifyAvatarLabel {
    display: none;
}

#myAvatar:hover {
    cursor: pointer;
}

#myAvatar:hover #modifyAvatarLabel {
	display: block;
}

#myAvatar:hover #avatarLarge {
	filter: brightness(50%);
}

.noScrollBar {
	overflow: auto;
	scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}

li.tab-item:hover {
	background-color: rgb(141, 141, 190);
	cursor: pointer;
}

input[type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
}
  
input[type="file"] + label {
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    background: rgb(148, 148, 231);
}