body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: transparent; /* Fond transparent */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
    text-align: center;
    width: 320px;
    max-width: 90vw; /* Utilisation maximale de la largeur disponible */
    position: relative;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px; /* Augmentation de la taille de la police */
    color: #333;
    padding: 20px; /* Ajout d'espace à l'intérieur du cadre */
    border: 2px solid #333; /* Bordure autour du titre */
    border-radius: 5px; /* Bords légèrement arrondis */
    display: inline-block; /* Réduit la largeur au contenu du texte */
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
}

.timer {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
    border-radius: 5px;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espace entre les scores et le plateau de jeu */
}

.scorex, .scoreo {
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
    border-radius: 5px;
    border: 2px solid transparent; /* Bordure par défaut */
}

.scorex.active, .scoreo.active {
    border-color: green; /* Bordure verte pour le joueur actif */
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les rangées */
}

.row {
    display: flex;
    gap: 10px; /* Espace entre les colonnes */
}

.tile {
    width: 100px;
    height: 100px;
    flex: 1; /* Permet aux tuiles d'utiliser l'espace disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
    border: 2px solid #333; /* Bordure noire */
}

.tile:hover {
    background-color: rgba(249, 249, 249, 0.8);
}

.tile:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.give-up-button {
    margin-top: 20px; /* Espace au-dessus du bouton Give up */
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #333; /* Bordure noire similaire aux scores */
    background-color: rgba(255, 0, 0, 0.8); /* Couleur de fond rouge avec transparence */
    width: calc(100% - 20px); /* Même largeur que les scores */
}

.give-up-button:hover {
    background-color: rgba(255, 0, 0, 0.9); /* Légèrement plus foncé au survol */
}