.dropdown-item:hover {
    background-color: rgb(141, 141, 190);
}

.navButton:hover, .profileLink:hover {
    cursor: pointer;
}

.customWindow {
    background-color: #ced4da;
    overflow: auto;
    height: 75%;
    width: 75%;
    padding: 10px 20px;
}

ul {
    list-style: none;
}

.myProfile:hover {
    cursor: pointer;
    color: red;
}

#modifyPictureLabel {
    display: none;
}

#myPicture:hover {
    cursor: pointer;
}

#myPicture:hover #modifyPictureLabel {
	display: block;
}

#myPicture:hover #pictureLarge {
	filter: brightness(50%);
}

#modifyAvatarLabel {
    display: none;
}

#myAvatar:hover {
    cursor: pointer;
}

#myAvatar:hover #modifyAvatarLabel {
	display: block;
}

#myAvatar:hover #avatarLarge {
	filter: brightness(50%);
}

.noScrollBar {
	overflow: auto;
	scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}

li.tab-item:hover {
	background-color: rgb(141, 141, 190);
	cursor: pointer;
}

input[type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
}
  
input[type="file"] + label {
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    background: rgb(148, 148, 231);
}

/* .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .game-area {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }
  
  .paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: white;
  }
  
  .paddle1 {
    left: 0;
  }
  
  .paddle2 {
    right: 0;
  }
  
  /* .score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
  } */
  
  /* .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 30px;
    text-align: center;
  } */