/* html, */
/* body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  } */
  
  .App {
    position : relative;
    font-family: sans-serif;
    text-align: center;
  }
  
  .timer {
    text-align: right;
    margin-right: 15%;
  }
  
  #leftBtn {
    display: block;
    float: left;
  }
  
  #rightBtn {
    display: block;
    float: right;
  }
  
  .gameField {
    margin: 10px;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 300px;
  }
  
  .midLine {
    position: absolute;
    border: 1px dotted #000;
    /* border-style: none none dotted; */
    color: #fff;
    background-color: #fff;
    width: 0px;
    height: 299px;
    left: 268px;
    top: 74px;
  }
  
  .gate1 {
    position: absolute;
    background-color: white;
    width: 10px;
    height: 160px;
    left: 19px;
    top: 150px;
  }
  
  .gate2 {
    position: absolute;
    background-color: white;
    width: 10px;
    height: 160px;
    left: 513px;
    top: 150px;
  }
  
  .ball {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 150px;
    top: 250px;
  }
  
  .player1 {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 80px;
    left: 40px;
    top: 180px;
  }
  
  .player2 {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 80px;
    left: 490px;
    top: 180px;
  }
  
  .buttonsBar {
    width: 500px;
    height: 300px;
    margin-left: 10px;
    position: relative;
  }
  
  .result {
    display: inline;
    font-size: 30px;
  }
  